.logo__container{
    height: 82px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;

    border: 2px solid black;
}

.logo{
    width: 100%;
}

.logo__svg{
    object-fit: contain;
}