.content {
    width: calc(100% - 264px);
    /*264 sidebar if 100% page size that => 100% - 264px = content full size*/
    /*this is interactive*/
    margin-left: 264px;
    padding: 14px 24px;
}


/*TEMPORARY STABS*/

.stab2__section {
    margin-top: 28px;
}

.stab3__section {
    margin-top: 28px;
}


.stab4__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
    margin-top: 28px;
    align-items: stretch;
    /* Растягиваем элементы по высоте */
}

.stab4_1__section,
.stab4_2__section {
    min-height: 0;
    /* Устанавливаем минимальную высоту */
    height: 100%;
    /* Растягиваем элементы по высоте */
}


.stab5__section {
    display: grid;
    grid-template-columns: 2fr minmax(376px, auto); /* Вторая колонка не меньше 376px, но может быть шире если есть место */
    gap: 28px;
    margin-top: 28px;
    width: 100%; /* Обеспечиваем, что контейнер не превышает ширину родителя */
}

.stab5_1__section,
.stab5_2__section {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.stab5_1__section {
    overflow: hidden; /* Скрываем содержимое, если оно выходит за границы */
}

.stab5_2__section {
    overflow: hidden; /* Скрываем содержимое, если оно выходит за границы */
}

.stab6__section {
    margin-top: 28px;
}