.stats_block{
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #E0E2E7;
    padding: 24px;
    border-radius: 8px;
}

.stats_block canvas{
    width: 100% !important; /*debug*/
}