@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: #F0F1F3;
}

::-webkit-scrollbar-thumb {
    background-color: #1D1F2C;
}

::-webkit-scrollbar-button {
    background-color: #F0F1F3;
}

::-webkit-scrollbar-corner {
    background-color: #F0F1F3;
}

body {
    background-color: #F9F9FC;
    font-family: "Public Sans", sans-serif;
}

.MuiTableHeader__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4A4C56;
}

.MuiImageColumn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.MuiImageContainer {
    width: 44px;
    min-width: 44px;
    max-width: 44px;
    height: 44px;
    min-height: 44px;
    max-height: 44px;
    border-radius: 8px;
    margin-right: 8px;
    overflow: hidden;
}

.MuiImage__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MuiTypography {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.MuiTypography__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D1F2C;
}

.MuiTypography__subtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
}

.MuiFlexCenterContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}





/* .MuiImageColumn__flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.MuiImageColumn__flex .MuiAvatar-root {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    margin-right: 8px;
    overflow: hidden;
} */