@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F9F9FC;
    font-family: "Public Sans", sans-serif;
}